<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Jessica's Blog</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/css/sitewide.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  
</head>
<body>
 
<header>
<h1>BLOG POSTS</h1>
<nav>
  <ul class="nav {{include.navclass}}">
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %} {% endif %}">Home</a></li>
  </ul>
</nav>
</header>
 
{{content}}

  </body>
</html>
